.contact-section {
  width: 100%;
  position: relative;
  height: 100%;
  overflow-x: visible;
}
.contact-me {
  text-align: center;
  font-family: "Press Start 2P", system-ui;
  margin: 1rem 0;
}
.socials {
  width: 20%;
  margin: 1.5rem auto;
  display: flex;
  justify-content: center;
  gap: 15px;
  scale: 1.75;
}
.socials > * {
  filter: brightness(50%);
}
.socials > *:hover {
  filter: brightness(100%);
}
.email {
  text-align: center;
}
.bg {
  position: absolute;
  /* scale: 1.08; */
  width: 74.3%;
  aspect-ratio: 16 / 9;
  top: -10%;
  z-index: -1;
  transform: translate(-55%, -100%);
  /* bottom: 0; */
  rotate: 90deg;
  /* filter: drop-shadow(20px, 20px, 50px, red) invert(80%); */
  filter: drop-shadow(0px 0px 5vh rgb(175, 171, 237));
}
