.contact-section {
  width: 100%;
  position: relative;
  height: 100%;
  overflow: visible;
}
.contact-me {
  text-align: center;
  font-family: "Press Start 2P", system-ui;
  margin: 1rem 0;
}
.socials {
  width: 20%;
  margin: 1.5rem auto;
  display: flex;
  justify-content: center;
  gap: 15px;
  scale: 1.75;
}
.socials > * {
  filter: brightness(50%);
}
.socials > *:hover {
  filter: brightness(100%);
}
.email {
  text-align: center;
}
