@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap");
/* font-family: "Poppins", sans-serif; */
/* font-family: "Press Start 2P", system-ui; */
/* font-family: "M PLUS Code Latin", monospace; */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --link-color: #bb86fc;
  --link-hover-color: #3700b3;
  --border-color: #333333;
  --card-bg-color: #1e1e1e;
  --card-shadow-color: rgba(0, 0, 0, 0.7);
  --input-bg-color: #2c2c2c;
  --input-text-color: #ffffff;
  --input-placeholder-color: #757575;
  --navbar-bg-color: #1c1c1c;
  --footer-bg-color: #181818;
  --background-color: #121212;
  --primary-text-color: #e0e0e0;
  --secondary-text-color: #b0b0b0;
  --accent-color: #bb86fc;
  --accent-color-light: #ce93d8;
  --button-bg-color: #1f1f1f;
  --button-text-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  min-width: 350px;
  min-height: 100vh;
  background: var(--background-color);
  color: rgb(225, 222, 222);
  transition: all 0.2s ease;
}
li {
  list-style-type: none;
}
::-webkit-scrollbar {
  width: 5px;
}
::selection {
  background-color: #c6c6c6;
  color: #0e0e0e;
}
a {
  text-decoration: none;
  color: inherit;
}
