@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap");
/* font-family: "Poppins", sans-serif; */
/* font-family: "Press Start 2P", system-ui; */
/* font-family: "M PLUS Code Latin", monospace; */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  min-width: 350px;
  min-height: 100vh;
  background: #0e0e0e;
  color: rgb(225, 222, 222);
  /* transition: all 0.2s ease-in; */
}
li {
  list-style-type: none;
}
::-webkit-scrollbar {
  width: 5px;
}
::selection {
  background-color: #c6c6c6;
  color: #0e0e0e;
}
a {
  text-decoration: none;
  color: inherit;
}
